.fade-in-animation {
    opacity: 1;
    animation: fade-in 0.5s ease-in;
  }
  
  @keyframes fade-in {
    0% { opacity: 0 }
    100% { opacity: 1}
  }

  .transform{
    transition: 0.5s ease-in-out;
  }
  
  .transform:hover{
    transform: scale(1.03);
  }