.App {
  text-align: center;
  font-family: 'Gothic A1', sans-serif;
  font-weight: 300;
}

.info-button {
  display: flex;
  justify-content: right;
  position: absolute;
  transition: 0.2s ease-in-out;
  top: 1.25rem;
  right: 1.25rem;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  
}

.btn-outline-light{
  padding: 0.938rem 2rem;
  text-align: center;
  text-decoration: none;
  border-radius: 0.625rem;
  display: inline-block;
  font-size: 0.813rem;
  margin: 0.625rem;
}

/*
.bi-info-circle{
  display: flex;
  justify-content: right;
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  transition: 0.2s ease-in-out;
}
*/

.bi-info-circle:hover{
  fill-opacity: 0.3;
}

h1{
  font-size: calc(7.5rem + 2vmin);
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.App-header {
  background-image: linear-gradient(to top, #249494 0%, #330867 100%);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(0.938rem + 2vmin);
}

.App-header-2 {
  background-image: linear-gradient(to top, #180c5f 0%, #8a0000 100%);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(0.938rem + 2vmin);
}

.App-header-3 {
  background-image: linear-gradient(to top, #581aae 0%, #bd1b7a 100%);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(0.938rem + 2vmin);
}


.App-body {
  font-size: calc(0.625rem + 2vmin);
  text-align: left;
}

.App-bottom {
  font-size: calc(0.063rem + 1vmin);
  text-align: center;
  position: absolute;
  bottom: 0.625rem
}

a {
  color: #c6f7f9;
}

.transform{
  transition: 0.5s ease-in-out;
}

.transform:hover{
  transform: scale(1.03);
}

a {
  text-decoration: none;
}

