.App {
  text-align: center;
  font-family: 'Gothic A1', sans-serif;
  font-weight: 300;
}

.btn-outline-light{
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
  font-size: 20px;
  margin: 10px;
}

h1{
  font-size: calc(120px + 2vmin);
}

.App-header {
  background-image: linear-gradient(to top, #249494 0%, #330867 100%);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
}

.App-body {
  font-size: calc(13px + 2vmin);
  text-align: left;
  padding-top: 0px; 
  padding-bottom: 0px; 
}

.App-bottom {
  font-size: calc(1px + 1vmin);
  text-align: center;
  position: absolute;
  bottom: 10px
}

.App-link {
  color: #61dafb;
}

.transform{
  transition: 0.5s ease-in-out;
}

.transform:hover{
  transform: scale(1.03);
}

.circle{
  width: calc(500px + 1vmin);
  height: calc(500px + 1vmin);
  border-radius: 50%;
  border: none;
  background: slateblue;
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}