.large-number {
    fill: azure;
    width: 20rem;
    height: 20rem;
    position: absolute;
}

.poster {
    border-radius: 0.2rem;
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.alignment-box{
    padding: 1rem;
    padding-bottom: 0.7rem;
    width: 11rem;
}

.caption {
    font-size: 0.7rem;
}