
.counter{
  font-size: calc(6.25rem + 2vmin);
}

.films-watched-header {
  background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1.25rem + 2vmin);
  color: white;
}

.films-watched-body {
  font-size: calc(0.813rem + 2vmin);
  text-align: left;
}

.title{
  font-size: 2.5rem;
  line-height: 2;
}

.genre-loading {
  opacity: 1;
  animation: fade 2s ease-in-out;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

.map-title {
  font-size: calc(1.563rem + 1vmin);
  color: white;
  padding:0.625rem;
  height: 30%;
}

.map-header {
  padding:5.5rem;
  padding-bottom: 3rem;
}

.map-hack {
  padding-bottom: 4rem;
  background-image: linear-gradient(to right, #249494 0%, #330867 100%);
}

.practice-map {
  position:absolute;
  height: 64.3%;
  width: 100%;
  background-image: linear-gradient(to right, #249494 0%, #330867 100%);

}

.background {
  background-image: linear-gradient(to right, #249494 0%, #330867 100%);
  height: 100%;
  width: 100%;
}

.top-genres-header {
  background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #833ba0 33%, #6346af 66%, #2f5fb8 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1.25rem + 2vmin);
  color: white;
  overflow-wrap:break-word;
}

.genres-tooltip {
  background: rgba(255, 255, 255, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 1rem;
  padding: 0.6rem;
  padding-bottom: 0rem;
}

.pie-chart {
  padding: 2rem;
  padding-bottom: 3.5rem;
}

.top-five {
  display:flex; 
  flex-direction:row;
}