.bg {
    position: relative;
    width: 450px;
    height: 450px;
  }

.poster2 {
    position: absolute;
    height: 60.185%;
    left: 6.5%;
    top: 23%;
}

.big-header {
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    text-align: left;
}

.movie-items {
    font-family: 'Gothic A1';
    font-style: italic;
    font-size: 0.9rem;
    text-align: left;
    margin: 0;
}

.wrapped-title {
    position: absolute;
    left: 6.5%;
    top: 10%;

    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 45px;
    text-align: center;
}

p {
    margin-bottom:0rem;
}

.col2 {
    position: absolute;
    padding: 3.5%;
    padding-top: 0%;
    padding-bottom: 0%;
    width: 45%;
    height: 60.185%;
    left: 52%;
    top: 23%;
    display: flex;
    flex-direction: column;
    
}

.footer {
    font-size: 0.6rem;
    position: absolute;
    right: 2.5rem;
    bottom: 1.5rem
}

.flex {
    display: flex;
    flex-direction: row;
}

.minutes {
    padding-top: 1rem;
}

.item {
    margin-bottom:0rem;
    font-size: 1.2rem;
    max-width:6rem;
    word-wrap:break-word;
}

.top-genre {
    font-size: 1.3rem;
    padding-top: 1rem;
    padding-left: 1rem;
}

.header {
    text-align: left;
    font-size: 1rem;
}

.rectangle {
    position: absolute;
    width: 50%;
    height: 0.3rem;
    left: 50%;
    top: 14%;
    background-color: white;

}